@using System.Collections
@model Smart_Water_Dash.Models.DeviceModel

<form method="post" asp-action="Create">
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info p1-3">Add Device</h2>
        </div>

        <form method="post" asp-action="LoginUser" class="form " id="kt_login_signin_form">
                        <div class="form-group mb-5">
                            <input class="form-control h-auto form-control-solid py-3 px-6" type="text" placeholder="Device S/N" name="deviceID" autocomplete="off" />
                        </div>

                        <div class="form-group mb-5">
                            <input class="form-control h-auto form-control-solid py-3 px-8" type="text" placeholder="User Name" name="userId" />
                        </div>

                         <div class="form-group mb-5">
                            <input class="form-control h-auto form-control-solid py-3 px-8" type="text" placeholder="Address" name="Address" />
                        </div>

                         <div class="form-group mb-5">
                            <input class="form-control h-auto form-control-solid py-3 px-8" type="datetime" placeholder="Date" name="Created" />
                        </div>

                        <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                            
                            <input asp-action="Index" type="submit"  class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2" value="Add Device" />
                        </div>
                        
        </form>
        
    </div>
            <div class="col-4">
                @*Keep this empty*@
            </div>
        
    
</form>

