
<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Custom Styles(used by this page)-->
		<link href="~/css/pages/wizard/wizard-4.css" rel="stylesheet" type="text/css" />
		<!--end::Page Custom Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="~/media/logos/favicon.ico" />


<div class="card card-custom card-transparent">
											<div class="card-body p-0">
												<!--begin: Wizard-->
												<div class="wizard wizard-4" id="kt_wizard" data-wizard-state="between" data-wizard-clickable="false">
													<!--begin: Wizard Nav-->
													<div class="wizard-nav">
														<div class="wizard-steps" data-total-steps="3">
															
															<!--begin::Wizard Step 2 Nav-->
															<div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
																<div class="wizard-wrapper">
																	<div class="wizard-number">1</div>
																	<div class="wizard-label">
																		<div class="wizard-title">Payment</div>
																		<div class="wizard-desc">Payment Options</div>
																	</div>
																</div>
															</div>
															<!--end::Wizard Step 2 Nav-->
															<!--begin::Wizard Step 3 Nav-->
															<div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
																<div class="wizard-wrapper">
																	<div class="wizard-number">2</div>
																	<div class="wizard-label">
																		<div class="wizard-title">Purchase</div>
																		<div class="wizard-desc">Review and Submit</div>
																	</div>
																</div>
															</div>
															<!--end::Wizard Step 3 Nav-->
														</div>
													</div>
													<!--end: Wizard Nav-->
													<!--begin: Wizard Body-->
													<div class="card card-custom card-shadowless rounded-top-0">
														<div class="card-body p-0">
															<div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
																<div class="col-xl-12 col-xxl-7">
																	<!--begin: Wizard Form-->
																	<form class="form mt-0 mt-lg-10 fv-plugins-bootstrap fv-plugins-framework" id="kt_form">
																		
																		<!--begin: Wizard Step 2-->
																		<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
																			<h4 class="mb-10 font-weight-bold text-dark">Enter your Payment Details</h4>
																			<div class="row">
																				<div class="col-xl-6">
																					<!--begin::Input-->
																					<div class="form-group fv-plugins-icon-container has-success">
																						<label>Name on Card</label>
																						<input type="text" class="form-control form-control-solid form-control-lg" name="ccname" placeholder="Card Name" value="John Wick">
																						<span class="form-text text-muted">Please enter your Card Name.</span>
																					<div class="fv-plugins-message-container"></div></div>
																					<!--end::Input-->
																				</div>
																				<div class="col-xl-6">
																					<!--begin::Input-->
																					<div class="form-group fv-plugins-icon-container has-success">
																						<label>Card Number</label>
																						<input type="text" class="form-control form-control-solid form-control-lg" name="ccnumber" placeholder="Card Number" value="4444 3333 2222 1111">
																						<span class="form-text text-muted">Please enter your Address.</span>
																					<div class="fv-plugins-message-container"></div></div>
																					<!--end::Input-->
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-xl-4">
																					<!--begin::Input-->
																					<div class="form-group fv-plugins-icon-container has-success">
																						<label>Card Expiry Month</label>
																						<input type="number" class="form-control form-control-solid form-control-lg" name="ccmonth" placeholder="Card Expiry Month" value="01">
																						<span class="form-text text-muted">Please enter your Card Expiry Month.</span>
																					<div class="fv-plugins-message-container"></div></div>
																					<!--end::Input-->
																				</div>
																				<div class="col-xl-4">
																					<!--begin::Input-->
																					<div class="form-group fv-plugins-icon-container has-success">
																						<label>Card Expiry Year</label>
																						<input type="number" class="form-control form-control-solid form-control-lg" name="ccyear" placeholder="Card Expire Year" value="21">
																						<span class="form-text text-muted">Please enter your Card Expiry Year.</span>
																					<div class="fv-plugins-message-container"></div></div>
																					<!--end::Input-->
																				</div>
																				<div class="col-xl-4">
																					<!--begin::Input-->
																					<div class="form-group fv-plugins-icon-container has-success">
																						<label>Card CVV Number</label>
																						<input type="password" class="form-control form-control-solid form-control-lg" name="cccvv" placeholder="Card CVV Number" value="123">
																						<span class="form-text text-muted">Please enter your Card CVV Number.</span>
																					<div class="fv-plugins-message-container"></div></div>
																					<!--end::Input-->
																				</div>
																			</div>
																		</div>
																		<!--end: Wizard Step 2-->
																		<!--begin: Wizard Step 3-->
																		<div class="pb-5" data-wizard-type="step-content">
																			<!--begin::Section-->
																			<h4 class="mb-10 font-weight-bold text-dark">Review your Order and Submit</h4>
																			<h6 class="font-weight-bolder mb-3">Delivery Address:</h6>
																			<div class="text-dark-50 line-height-lg">
																				<div>Address Line 1</div>
																				<div>Address Line 2</div>
																				<div>Melbourne 3000, VIC, Australia</div>
																			</div>
																			<div class="separator separator-dashed my-5"></div>
																			<!--end::Section-->
																			<!--begin::Section-->
																			<h6 class="font-weight-bolder mb-3">Order Details:</h6>
																			<div class="text-dark-50 line-height-lg">
																				<div class="table-responsive">
																					<table class="table">
																						<thead>
																							<tr>
																								<th class="pl-0 font-weight-bold text-muted text-uppercase">Ordered Items</th>
																								<th class="text-right font-weight-bold text-muted text-uppercase">Qty</th>
																								<th class="text-right font-weight-bold text-muted text-uppercase">Unit Price</th>
																								<th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Amount</th>
																							</tr>
																						</thead>
																						<tbody>
																							<tr class="font-weight-boldest">
																								<td class="border-0 pl-0 pt-7 d-flex align-items-center">
																								<!--begin::Symbol-->
																								<div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
																									<div class="symbol-label" style="background-image: url('assets/media/products/11.png')"></div>
																								</div>
																								<!--end::Symbol-->
																								Street Sneakers</td>
																								<td class="text-right pt-7 align-middle">2</td>
																								<td class="text-right pt-7 align-middle">$90.00</td>
																								<td class="text-primary pr-0 pt-7 text-right align-middle">$180.00</td>
																							</tr>
																							<tr class="font-weight-boldest border-bottom-0">
																								<td class="border-top-0 pl-0 py-4 d-flex align-items-center">
																								<!--begin::Symbol-->
																								<div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
																									<div class="symbol-label" style="background-image: url('assets/media/products/2.png')"></div>
																								</div>
																								<!--end::Symbol-->
																								Headphones</td>
																								<td class="border-top-0 text-right py-4 align-middle">1</td>
																								<td class="border-top-0 text-right py-4 align-middle">$449.00</td>
																								<td class="text-primary border-top-0 pr-0 py-4 text-right align-middle">$449.00</td>
																							</tr>
																							<tr class="font-weight-boldest border-bottom-0">
																								<td class="border-top-0 pl-0 py-4 d-flex align-items-center">
																								<!--begin::Symbol-->
																								<div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
																									<div class="symbol-label" style="background-image: url('assets/media/products/1.png')"></div>
																								</div>
																								<!--end::Symbol-->
																								Smartwatch</td>
																								<td class="border-top-0 text-right py-4 align-middle">1</td>
																								<td class="border-top-0 text-right py-4 align-middle">$160.00</td>
																								<td class="text-primary border-top-0 pr-0 py-4 text-right align-middle">$160.00</td>
																							</tr>
																							<tr>
																								<td colspan="2"></td>
																								<td class="font-weight-bolder text-right">Subtotal</td>
																								<td class="font-weight-bolder text-right pr-0">$1538.00</td>
																							</tr>
																							<tr>
																								<td colspan="2" class="border-0 pt-0"></td>
																								<td class="border-0 pt-0 font-weight-bolder text-right">Delivery Fees</td>
																								<td class="border-0 pt-0 font-weight-bolder text-right pr-0">$15.00</td>
																							</tr>
																							<tr>
																								<td colspan="2" class="border-0 pt-0"></td>
																								<td class="border-0 pt-0 font-weight-bolder font-size-h5 text-right">Grand Total</td>
																								<td class="border-0 pt-0 font-weight-bolder font-size-h5 text-success text-right pr-0">$1553.00</td>
																							</tr>
																						</tbody>
																					</table>
																				</div>
																			</div>
																			<div class="separator separator-dashed my-5"></div>
																			<!--end::Section-->
																			<!--begin::Section-->
																			<h6 class="font-weight-bolder mb-3">Delivery Service Type:</h6>
																			<div class="text-dark-50 line-height-lg">
																				<div>Overnight Delivery with Regular Packaging</div>
																				<div>Preferred Morning (8:00AM - 11:00AM) Delivery</div>
																			</div>
																			<!--end::Section-->
																		</div>
																		<!--end: Wizard Step 3-->
																		<!--begin: Wizard Actions-->
																		<div class="d-flex justify-content-between border-top mt-5 pt-10">
																			<div class="mr-2">
																				<button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-prev">Previous</button>
																			</div>
																			<div>
																				<button type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-submit">Submit</button>
																				<button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">Next</button>
																			</div>
																		</div>
																		<!--end: Wizard Actions-->
																	<div></div><div></div></form>
																	<!--end: Wizard Form-->
																</div>
															</div>
														</div>
													</div>
													<!--end: Wizard Bpdy-->
												</div>
												<!--end: Wizard-->
											</div>
										</div>


																				<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#663259", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#F4E1F0", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="~/plugins/global/plugins.bundle.js"></script>
		<script src="~/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="~/js/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="~/js/pages/custom/ecommerce/checkout.js"></script>
		<!--end::Page Scripts-->