

<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="~/media/logos/favicon.ico" />


<div class="flex-row-fluid ml-lg-8">
										<!--begin::Card-->
										<div class="card card-custom gutter-b">
											<div class="card-body p-0">
												<!-- begin: Invoice-->
												<!-- begin: Invoice header-->
												<div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
													<div class="col-md-10">
														<div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
															<h1 class="display-4 font-weight-boldest mb-10">ORDER DETAILS</h1>
															<div class="d-flex flex-column align-items-md-end px-0">
																<!--begin::Logo-->
																<a href="#" class="mb-5">
																	@*<img src="~/media/logos/logo-dark.png" alt="">*@
																	<h2>LMPSS Smart Meter</h2>
																</a>
																<!--end::Logo-->
																<span class="d-flex flex-column align-items-md-end opacity-70">
																	<span>Cecilia Chapman, 711-2880 Nulla St, Mankato</span>
																	<span>Auckland Park 2092</span>
																</span>
															</div>
														</div>
														<div class="border-bottom w-100"></div>
														<div class="d-flex justify-content-between pt-6">
															<div class="d-flex flex-column flex-root">
																<span class="font-weight-bolder mb-2">ORDER DATE</span>
																<span class="opacity-70">Jan 07, 2020</span>
															</div>
															<div class="d-flex flex-column flex-root">
																<span class="font-weight-bolder mb-2">ORDER NO.</span>
																<span class="opacity-70">64616-103</span>
															</div>
															<div class="d-flex flex-column flex-root">
																<span class="font-weight-bolder mb-2">DELIVERED TO.</span>
																<span class="opacity-70">Iris Watson, P.O. Box 283 8562 Fusce RD.
																<br>Fredrick Nebraska 20620</span>
															</div>
														</div>
													</div>
												</div>
												<!-- end: Invoice header-->
												<!-- begin: Invoice body-->
												<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
													<div class="col-md-10">
														<div class="table-responsive">
															<table class="table">
																<thead>
																	<tr>
																		<th class="pl-0 font-weight-bold text-muted text-uppercase">Ordered Items</th>
																		<th class="text-right font-weight-bold text-muted text-uppercase">Qty</th>
																		<th class="text-right font-weight-bold text-muted text-uppercase">Unit Price</th>
																		<th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Amount</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="font-weight-boldest">
																		<td class="border-0 pl-0 pt-7 d-flex align-items-center">
																		<!--begin::Symbol-->
																		<div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
																			<div class="symbol-label" style="background-image: url('~/media/products/11.png')"></div>
																		</div>
																		<!--end::Symbol-->
																		Street Sneakers</td>
																		<td class="text-right pt-7 align-middle">2</td>
																		<td class="text-right pt-7 align-middle">R90.00</td>
																		<td class="text-primary pr-0 pt-7 text-right align-middle">R180.00</td>
																	</tr>
																	<tr class="font-weight-boldest border-bottom-0">
																		<td class="border-top-0 pl-0 py-4 d-flex align-items-center">
																		<!--begin::Symbol-->
																		<div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
																			<div class="symbol-label" style="background-image: url('~/media/products/2.png')"></div>
																		</div>
																		<!--end::Symbol-->
																		Headphones</td>
																		<td class="border-top-0 text-right py-4 align-middle">1</td>
																		<td class="border-top-0 text-right py-4 align-middle">R449.00</td>
																		<td class="text-primary border-top-0 pr-0 py-4 text-right align-middle">R449.00</td>
																	</tr>
																	<tr class="font-weight-boldest border-bottom-0">
																		<td class="border-top-0 pl-0 py-4 d-flex align-items-center">
																		<!--begin::Symbol-->
																		<div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
																			<div class="symbol-label" style="background-image: url('~/media/products/1.png')"></div>
																		</div>
																		<!--end::Symbol-->
																		Smartwatch</td>
																		<td class="border-top-0 text-right py-4 align-middle">1</td>
																		<td class="border-top-0 text-right py-4 align-middle">R160.00</td>
																		<td class="text-primary border-top-0 pr-0 py-4 text-right align-middle">R160.00</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<!-- end: Invoice body-->
												<!-- begin: Invoice footer-->
												<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0 mx-0">
													<div class="col-md-10">
														<div class="table-responsive">
															<table class="table">
																<thead>
																	<tr>
																		<th class="font-weight-bold text-muted text-uppercase">PAYMENT TYPE</th>
																		<th class="font-weight-bold text-muted text-uppercase">PAYMENT STATUS</th>
																		<th class="font-weight-bold text-muted text-uppercase">PAYMENT DATE</th>
																		<th class="font-weight-bold text-muted text-uppercase text-right">TOTAL PAID</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="font-weight-bolder">
																		<td>Credit Card</td>
																		<td>Success</td>
																		<td>Jan 07, 2020</td>
																		<td class="text-primary font-size-h3 font-weight-boldest text-right">R789.00</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<!-- end: Invoice footer-->
												<!-- begin: Invoice action-->
												<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
													<div class="col-md-10">
														<div class="d-flex justify-content-between">
															<button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">Download Order Details</button>
															<button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Print Order Details</button>
														</div>
													</div>
												</div>
												<!-- end: Invoice action-->
												<!-- end: Invoice-->
											</div>
										</div>
										<!--end::Card-->
									</div>



<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#663259", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#F4E1F0", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="~/plugins/global/plugins.bundle.js"></script>
		<script src="~/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="~/js/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->